<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated annotations -->
      <package
            uri="http://www2.compute.dtu.dk/annotations"
            class="dk.dtu.mbse.groupg.yawl.simulator.annotations.AnnotationsPackage"
            genModel="annotations.genmodel"/>
   </extension>
   
      <!-- TODO: change the id to a proper one (unqique) -->
   <extension
         id="dk.dtu.compute.mbse.groupg.yawl.simulator"
         name="YAWL Simulator"
         point="org.pnml.tools.epnk.applications.applicationfactory">
      <!-- TODO: change the class attribute to the fully quantified name
                 of the Java class of your application factory -->
      <applicationfactory
            class="dk.dtu.mbse.groupg.yawl.simulator.application.YAWLSimulatorFactory"
            description="A simple YAWL simulator for tutorial 8 of the MBSE course">
      </applicationfactory>
   </extension>
   

</plugin>
